<launch>

    <arg name="project" default="sc_liosam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find sc_liosam)/config/params_husky.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find sc_liosam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find sc_liosam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find sc_liosam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find sc_liosam)/launch/include/module_rviz.launch" />

</launch>
